.agora-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgb(39, 39, 39);
  padding: 2rem;
}

.agora-streams {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: auto;
  grid-auto-flow: row;
}

.agora-streams div {
  cursor: pointer;
  -webkit-order: 2;
  order: 2;
}

.button {
  width: fit-content;
  border-radius: 10px;
  padding: 10px 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  margin: auto;
  border-radius: 30px;
}

.button img {
  height: 2rem;
  margin: auto;
}

.muted {
  background-color: rgb(94, 94, 94);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.leave-btn {
  color: white;
  background-color: rgb(175, 48, 48);
}

.leave-btn img {
  filter: invert();
}

.join-btn {
  color: black;
}

.mute-btn {
  margin: 10px auto;
}

.unmuted:hover {
  background-color: rgb(175, 48, 48);
}

.agora-active-stream {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  width: 40vw !important;
  height: 22.5vw !important;
  order: 1 !important;
  -webkit-order: 1 !important;
}

.agora-util-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  gap: 20px;
}
